body{

    /* font-family: 'Montserrat'; */
    font-family: 'Roboto', sans-serif;
  background-color: #87dfd6

}
                              /* media screen */
@media only screen and (max-width: 1000px) {
  body #date{

    width: 600px;
   height:50px;


   position: relative;
   top: 0;
   bottom: 0;
   left:0;
   right: 0;


   margin-left: 0px;
   margin-top: 50px;

  }
 body .calender{
   position: relative;
   left: 80px ;
   width: 300px;

 }
  body.spent
  {

    font-family: 'Montserrat', sans-serif;


    margin-top: 30px;
  font-weight: bold;
    color: green;
    font-size: 90px;

  }
  body .btnSpace{
    position: relative;
    top : 100px;
    left: 110px;
    /* margin-top: 60px; */
    margin-left: 0px;
    margin-bottom: 50px;
    margin-top: 30px;



  }
  body .btnSpacex{
    position: relative;
    top: 80px;
    left: 110px;
    margin-left: 0px;
    margin-bottom: 30px;
    margin-top: 30px;



  }
  body .img{
    position: relative;
    top: 0px;
    left: 80px;
    right: 0px;
    bottom: 0px;
    width: 300px;
    height: 300px;

    top:100px;


  }
  body .title{
    position: relative;
    left: 90px;
    top: 100px;
    right: 0;
    bottom: 0;
    margin: 40px;
  }

  body .btn{
    width: 300px;
    margin-top: 15px;
    position: relative;
    top:70px;
    bottom: 0;
    left: 80px;
    right: 0;
  }
  body h3{
    font-size: 1.49em;
  }
  body .alert{
    position: absolute;
    top:4px;
    margin: 15px;
  }


}





                                           /* media screen */
#date{
	 width: 600px;
	height:50px;


	position: absolute;
	top: 0;
	bottom: 0;
	left:0;
	right: 0;


  margin-left: 500px;
  margin-top: 95px;

}
.btn{
  width: 200px;
  margin-top: 15px;
  position: relative;
  top:70px;
  bottom: 0;
  left: 0;
  right: 0;
}
.btnSpace{
  position: absolute;
  margin-top: 40px;
  margin-left: 300px;



}
.btnSpacex{
  position: absolute;
  top: 350px;
  left: 250px;
  margin-left: 300px;
  margin-bottom: 100px;
  margin-right: 100px;

}

h4{
  position: relative;
  margin: 20px;
  color:#120136;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.49em;
}
h3{
  position: relative;
  margin: 20px;
  color:#120136;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;


}
h2{
  font-family: 'Merriweather', serif;
  margin-bottom:  30px;
  margin-left: 80px;
  color:#00005c;

}
.spent
{

  font-family: 'Montserrat', sans-serif;


  margin-top: 30px;
font-weight: bold;
  color: green;
  font-size: 90px;
}

.mars{
  background-color: #f96d80;
}
.mars:hover{
  background-color: #ee91bc;
}
.uranus{
  background-color: #856c8b;
}
.uranus:hover{
  background-color: #4d4c7d;
}
.mercury{
  background-color: #fed39f;
}
.mercury:hover{
  background-color: #f8c3af;
}
.img{
  width: 300px;
  height: 300px;
  position: absolute;
  top:300px;
  left:1100px;

}
.title{

  position: absolute;
  top : 630px;
  left: 1130px;

}
.alert{
  color: red;
  font-size: 2em;
  position: relative;
  top:250px;
}
